.blue-background-stuff {
  background: #1F2937;
  color: white;
  padding: 20px 0px 50px 0px;

}

header {
  /* border: 2px solid blue; */
  display: flex;
  /* margin-top: 50px; */
  justify-content: space-around;
  margin-left: 7%;
  margin-right: 7%;
  font-family: sans-serif;
  color: white;

}

.header-logo {
  /* border: 2px solid blue; */
  width: 180px;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  margin: 10px 0;
}


.nav-bar {
  /* border: 2px solid blue; */
  padding-left: 60%;
  padding-right: 2%;
  display: inline-flex;
  align-items: center;

 }

 .nav-links {
   /* color: white; */
   /* text-decoration: none; */
   /* padding: 5% 10px; */
   display: flex;
   justify-content: space-between;
 }

 .nav-link- {
   color: white;
   text-decoration: none;
   padding: 10px;
}

.nav-link-:hover {
  color: white;
  text-decoration: underline;
  padding: 10px;
  font-size: 1.5em;

}

.nav-link-:visited {
  color: white;
  text-decoration: underline;
  padding: 10px;
}

#section-1 {
  /* border: 2px solid blue; */
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px 20px 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Verdana", sans-serif;

}

.awesome-site {
  text-align: left;
  font-size: 48px;
  font-weight: bold;

}

.left-text-sec-1 {
  padding-left: 0px;
  /* border: 2px solid blue; */
}

.info-sec-1 {
  padding-left: 10px;
}


.matt-img {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.matt-img:hover {
  width: 420px;
  box-shadow: 0px 0px 50px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#info-section {
  padding: 50px 0px 50px 0px;
}

.random-info-heading {
  font-weight: bold;
  font-size: 36px;
}

.random-info-box {
  text-align: center;
  padding: 50px 0px;
  font-family: sans-serif;

}

.boxes {
  font-family: monospace;
  display: flex;
  justify-content: space-around;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-icon-text {
  text-align: center;
  font-size: 20px
}

.box-icon {
  width: 100px;
}


.insp-quote {
  font-family: sans-serif;
  text-align: center;
  padding: 100px 25%;
  background-color: #E5E7EB;
  font-style: italic;

}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
}

.quote-author {
  text-align: right;
  font-style: normal;
  font-weight: 550;
}

.bottom-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  padding: 20px 0px;
  margin: 20px 25%;
  border-radius: 7px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

.email-submit-button {
  color: white;
  background-color: inherit;
  width: 7em;
  height: 1.5em;
  border: solid white;
  border-radius: 7px;
  border-width: thin;
  font-size: 20px;
}

footer {
  text-align: center;
  font-family: sans-serif;
}
